.grid-container {
  width: 100%;
  padding: 5px 0px;
  display: grid;
  grid-template-areas:
    "social logos logos logos logos logos logos"
    "disclaimer logos logos logos logos logos logos";
  z-index: 3;
  opacity: 1;
  background: rgba(12, 12, 12, 0.274);
  color: white;
  box-shadow: rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem,
    rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
  position: fixed;
  bottom: 0;
}

.social {
  grid-area: social;
  overflow: hidden;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.social a {
  font-size: 3.5vh;
}

.linkFooter {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.disclaimer {
  grid-area: disclaimer;
  height: 2.5vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos {
  grid-area: logos;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: wheat;
}
