.carousel-root {
  height: 100%;
}

.carousel {
  height: 100%;
}

.control-arrow {
  width: 10%;
  height: 10%;
  border-radius: 4rem;
  /* padding-top: 30px; */
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

/* .control-prev {
  width: 8%;
  height: 8%;
  border-radius: 4rem;
  margin-top: 17rem;
  margin-bottom: 17rem;
} */

.home {
  background-color: whitesmoke;
  border-radius: 10px;
  opacity: 0.8;
  letter-spacing: -0.125px;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 700;
  text-align: center;
  width: 90%;
  height: 75%;
  /* margin-top: 10px; */
  /* padding-bottom: 40px; */
}

.introduction {
  margin-top: 3rem;
}

.flippingCard {
  /* margin-top: 10rem; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flippingCard .cardTitle {
  font-family: "Roboto Slab", sans-serif;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
}
