.header {
  height: 15vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  max-width: 100%;
  max-height: 50%;
  display: flex;
  padding: 6px 15px;
  background: ghostwhite;
  border-radius: 10px;
  position: fixed;
}

.logo-header {
  max-width: 100%;
  width: 120px;
}

.menu {
  margin-left: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.link-selected {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
}

.link {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.6);
  font-size: 2rem;
}

.link:hover {
  color: rgb(0, 0, 0);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}


