html {
  font-size: 16px;
}

.app {
  background-color: #35363a; 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appWimage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("./assets/Images/BeachReunion.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
