.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: space-around; */
}

.second-title {
    margin-top: -10px;
}

.logo-img {
    max-width: auto;
    width: 5rem;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 50px;
}