.MainContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.linkTeamCard {
  display: flex;
  align-items: center;
  margin: 2.4rem 0;
  flex: 0 1 25%;
}

.linkTeamCard:hover {
  transform: scale(1.25);
}

.linkTeamCard .teamName {
  margin-top: 0.8rem;
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  font-weight: 500;
}

.cardPosition {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portrait {
  width: 65%;
  height: 60%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
