.condition {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: "Roboto Slab", sans-serif;
}

.condition h1, 
.condition h3,
.condition h5,
.condition span {
    margin-bottom: -18px;
}

.condition span {
    align-self: baseline;
}

.condition button {
    margin-top: 7px;
    width: 8rem;
    height: 4rem;
    border-radius: 15px;
    border-width: 4px;
    background-color: rgba(245, 245, 245, 0.733);    
    font-size: 25px;
    font-weight: bold;
}

.condition button:hover {
    cursor: pointer;
    background-color: #eaeedcf1;

}