.dinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7vw;
    font-family: "Roboto Slab", sans-serif;
    font-weight: bold;
    max-width: 100%;
}

.dinner-container img {
    border-radius: 5px;
    border-style: solid;
    max-width: 100%;
}