.dinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.dinner-container img {
    border-radius: 5px;
    border-style: solid;
    max-width: 100%;
}

.dinner-container span {
    font-size: 3rem;
    font-weight: bold;
}