.mainContainer {
  background-color: transparent;
  /* background-image: url('../../assets/Images/paper.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  opacity: 0.8;
  letter-spacing: -0.125px;
  font-family: "Roboto Slab", sans-serif;
  line-height: 1.25;
  font-weight: 700;
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .left {
  float: left;
  width: 60%;
  display: flex;
  align-items: flex-start;
  height: 100%;
  grid-area: header;
}

.right {
  float: right;
  width: 40%;
  height: 100%;
  grid-area: main;
} */
