.introduction {
  display: flex;
  flex-direction: column;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.counterBlock {
  margin-top: 2.4rem;
  color: rgb(26, 115, 232);
  font-size: 3rem;
  font-weight: 700;
}

.counterBlock .counterTitle {
  margin-top: -1.6rem;
  font-size: 2.4rem;
  color: rgb(20, 20, 20);
}

.title {
  font-size: 4.4rem;
}
