.introduction {
  display: flex;
  flex-direction: column;
}

.counters {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.counterBlock {
  margin-top: 2.5vh;
  color: rgb(26, 115, 232);
  font-family: "Roboto Slab", sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
}

.counterBlock .counterTitle {
  margin-top: -1.5vh;
  font-size: 1.5vw;
  color: rgb(20, 20, 20);
}

.title {
  font-size: 3.2vw;
}
