@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

/* .animate {
  animation: scroll 15s linear infinite;
} */

.static-container {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 2000%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.animated-container {
  width: 200%;
  display: flex;
  align-items: center;
  justify-items: space-around;
  position: absolute;
  left: 0;
  animation: scroll 15s linear infinite;
  animation-play-state: running;
  gap: 20px;
}

.animated-container:hover {
  animation-play-state: paused;
  cursor: pointer;
  overflow-x: scroll;
}

.animated-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.img-container {
  display: flex;
  justify-items: center;
  align-items: flex-start;
  justify-items: space-evenly;
}
